<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>



<body>
    <div class = "center">
        <h1>Add New Post</h1>
        <form method="POST">
            <label>Title:</label>
            <input type="text" name="title">
            <br>
            <label>Content:</label>
            <textarea rows="10" name="content"></textarea>
            <br>
            <button type="submit">Create Post</button>
        </form>
    </div>
</body>
</html>